In [1]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
cars1 = pd.read_csv("F:\PNADAS_DATA SCIENECE_DATA GITHUB\\cars1.csv")
cars2 = pd.read_csv("F:\PNADAS_DATA SCIENECE_DATA GITHUB\\cars2.csv")

In [6]:
print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

In [7]:
#Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [8]:
# Step 5. What is the number of observations in each dataset?
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

In [9]:
#Step 6. Join cars1 and cars2 into a single DataFrame called cars
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [10]:
#Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([43675, 15360, 22111, 57188, 15437, 44251, 70586, 57594, 67232,
       66947, 55062, 65350, 68567, 26823, 16202, 16088, 50937, 33474,
       67475, 59446, 18394, 55986, 33054, 53445, 44888, 63416, 20804,
       67988, 57489, 60694, 49928, 55367, 58445, 62619, 72833, 20306,
       23162, 62423, 39591, 37686, 48994, 20359, 61780, 63410, 50262,
       53228, 33375, 34776, 40773, 15684, 67937, 15354, 56279, 68606,
       15999, 18311, 51587, 56109, 37074, 37245, 65444, 51709, 20153,
       25181, 42490, 31059, 71011, 43101, 38026, 67153, 49775, 48350,
       59481, 62670, 42969, 61151, 39452, 29413, 17778, 70382, 37387,
       19202, 50989, 68455, 35482, 47311, 66580, 34525, 63304, 72771,
       31375, 53474, 40808, 62968, 28203, 67312, 15211, 47452, 30324,
       15268, 55202, 19571, 43191, 19443, 44745, 31516, 30730, 28461,
       69061, 31888, 40092, 32280, 54610, 19233, 19762, 36905, 43440,
       60836, 30778, 51433, 37373, 17278, 40465, 38418, 22159, 30211,
       43540, 32592, 50432, 35923, 60880, 57056, 28640, 42305, 24895,
       33575, 35214, 50442, 46346, 18023, 48847, 61759, 66582, 28857,
       50471, 19875, 53071, 49103, 48831, 41716, 32125, 34950, 69589,
       36270, 54854, 23074, 69774, 15728, 72931, 57971, 36282, 67304,
       42277, 56173, 55236, 35641, 39242, 24989, 19855, 70528, 43761,
       65550, 63046, 17193, 52689, 37869, 42368, 51540, 70379, 48027,
       55687, 40391, 63814, 24557, 41070, 30452, 24383, 54181, 44181,
       50455, 32963, 20686, 47235, 58056, 46257, 64429, 38047, 33280,
       64205, 48741, 69347, 65631, 43784, 21498, 26052, 57134, 31268,
       43795, 20557, 16749, 37930, 30640, 32137, 67080, 33262, 60002,
       37843, 41863, 27965, 49944, 27837, 69509, 18790, 60290, 48274,
       52074, 39722, 17334, 45299, 46579, 34839, 62893, 17249, 35238,
       68892, 44916, 56830, 27899, 19518, 27571, 66781, 72823, 33160,
       67531, 48613, 56239, 46874, 63397, 62904, 27892, 50567, 54454,
       17729, 22395, 65200, 52277, 33631, 27711, 25604, 57151, 57062,
       30267, 53156, 39383, 22241, 44089, 34547, 57068, 57421, 30327,
       70844, 67895, 62403, 18041, 59656, 56828, 69008, 19979, 56251,
       21160, 56902, 64983, 32056, 28853, 72325, 52538, 67141, 49583,
       67027, 47270, 39278, 28038, 26420, 53175, 68528, 68743, 20652,
       70943, 37194, 22574, 40813, 45235, 57176, 55615, 15967, 28543,
       22123, 46820, 16694, 54320, 71431, 45826, 54176, 22622, 62807,
       25317, 28504, 49178, 52663, 43724, 32627, 72579, 55294, 31457,
       35406, 32967, 72420, 57425, 59063, 66621, 52988, 62020, 18407,
       21797, 42673, 47588, 46712, 57584, 66493, 59579, 23391, 30635,
       40450, 61939, 41433, 60784, 52191, 57046, 48366, 66937, 60330,
       34245, 17295, 20432, 37655, 58387, 25542, 37726, 32715, 70651,
       72549, 47184, 27268, 50254, 34685, 21488, 37267, 41859, 65090,
       64668, 33217, 22444, 55130, 69034, 42878, 45493, 43855, 51859,
       26268, 68035, 16591, 38027, 72395, 34810, 48539, 52053, 38298,
       52945, 44365, 72622, 64193, 30985, 19767, 48287, 19944, 16223,
       62357, 39722])

In [11]:
#Step 8. Add the column owners to cars
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,48287
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,19944
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,16223
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,62357
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,39722